{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-2 sidenav">
            
          </div>
          <div class="col-sm-8 text-center"> 
              <h4 class="card-title">Question</h4>
              
              <table class="table table-hover">
                  <thead>
                    <tr>
                     
                    
                      <th scope="col">The word</th>
                      <th scope="col">Example Sentence</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for word in object_list %}
                    <tr>
                      
                      <td>{{word.word}}</td>
                      <td>{{word.academic_in_sentence}}</td>
                      
                      <td><h4 class="card-title"></h4></td>
                    </tr>
                    {% endfor %}
                    <tr>
                     
                        <th scope="col text-right"></th>
                        <th scope="col"></th>
                        
                      </tr>
                  </tbody>
                  

                </table>
                
          
          
      
          
      
          </div>
          <div class="col-sm-2 sidenav">
          
        
            </div>
          </div>
        </div>
      </div>
        
    {% if is_paginated %}
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class=" page-item disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active "><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class=" page-item disabled"><span class="page-link">&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}


</div>
      {% endblock %}
    



